.About
  background-color: $about
  +above($breakpoint-desktop)
    background-image: url(../img/about-bg.jpg)
    background-size: cover
    background-position: top right
    height: 100vh
  overflow: hidden

.Background-image
  left: 0
  position: absolute
  right: 0
  top: 0
  width: 150%
  z-index: 0
  .Img-right
    float: right
  .Img-full
    width: 100%

