.Contact__form
  // background-color: $gray-lighter
  // padding: 3rem
  // border: 1px solid $gray-lighter
  transition: opacity 1.2s

.Contact__message-received
  opacity: 0

&.fade-out
  opacity: 0
&.fade-in
  opacity: 1

footer
  background-color: rgb(208, 229, 238)
  padding: 4rem 0 2rem
