.Products
  background-color: $products
  overflow: hidden
  +above($breakpoint-desktop)
    background-attachment: fixed
    background-image: url(../img/products-bg.jpg)
    background-position: top right
    background-size: cover


.Store
  background-color: $store
  .container
    padding-bottom: 2rem
